@media(max-width: 360px) 
	.main-page
		overflow: hidden
		.main-page__first-block
			height: 50vh
			display: block
			
			
			.flex-container
				padding-top: 35px

				p
					font-size: 14px

				span
					font-size: 12px
			h1
				font-size: 22px
				margin-top: 30px
				width: 100%

			.advantages-block
				width: 100%
				margin-top: 100px
				margin-bottom: 10%

			.promotion-block
				overflow: hidden
				position: relative	
				width: 100%
				height: 40vh


				h4
					margin-left: 5%
					margin-top: 5%
					font-size: 110%

				p
					margin-left: 5%
					font-weight: 600
					font-size: 65%

				
				h3
					margin-left: 5%
					font-size: 130%
					margin-top: 20%
					font-weight: 600
				button
					margin-left: 5%
					margin-top: 3%
					font-size: 70%

		.main-page__second-block
			height: 80vh
			width: 100%
			margin-left: 10%

			.cite
				font-size: 140%
				width: 70%	
				margin-top: 0%		

			.flex-box
				width: 100%
				flex-direction: column
				margin-left: 5%

				p
					font-size: 90%	
					width: 70%

				
				p:nth-of-type(2)
					
					margin-left: 0px		

		.main-page__third-block
			margin: 0px
			padding: 0px
			
			section
				margin-left: 10%
				position: relative
				width: 80%
				margin-top: 0px
				padding-top: 10%
				h2
					font-size: 150%
					font-weight: 600

				.flex-third
					
					display: none

				.hidden-block
					display: block

					div
						display: block

						h3
							font-size: 120%
							font-weight: 600
							margin-bottom: 5%

						p
							font-size: 80%	
							margin-bottom: 10%
							margin-top: 0px

					div:last-of-type
						padding-bottom: 10%		
						



		.main-page__fourth-block
			width: 100%
			height: 100%
			
			section
				width: 100%
				


				h2
					font-size: 170%	
					margin-left: 10%
					padding-top: 5%


				table
					tr
						border: none
						
						
						td
							border: none

						td:nth-of-type(1)
							border-bottom: 50px solid white
							display: table-cell


						td:nth-of-type(2)
							display: table-row
							font-size: 90%
							vertical-align: middle
							border-bottom: 10px solid white
							


						td:nth-of-type(3)
							display: table-row	
							font-size: 70%
							border-bottom: 20px solid white

		.main-page__fifth-block		
			section
				width: 90%
				padding-top: 10%

				h2
					font-size: 160%
					text-align: left
					width: 60%
					margin-top: 10%

				h4
					font-size: 90%
					text-align: left
					font-weight: 500
					margin-bottom: 10%

				.flex
					display: flex

					.flex-img
						flex-direction: column
						width: 100px
						height: 500px
						text-align: left
						justify-content: flex-start


						span
						  	padding-top: 0%
						  	width: 100%

						span:nth-of-type(1), span:nth-of-type(3), span:nth-of-type(5), span:nth-of-type(7)
							width: 100px
							height: 100%   	

						span:nth-of-type(2), span:nth-of-type(4), span:nth-of-type(6)
							height: 100px
							width: 30%  
							align-self: center	

						span:nth-of-type(6)
							transform: rotate(90deg)
							margin-top: 10px
							margin-bottom: 10px	
					
					.flex-info
						flex-direction: column
						width: 100%
						margin-left: 8%
						justify-content: space-between
						

						span
							width: 100%
							font-size: 70%

						span:nth-of-type(1)
							margin-top: 25px

						span:nth-of-type(4)
							margin-bottom: 15px		
		
		.main-page__sixth-block
			display: none

		.main-page__seventh-block	

			section
				margin-left: 10%
				width: 80%

				h2
					font-size: 180%	
				
				.flex-container
					flex-direction: column
					width: 100%

					div
						width: 100%
						margin-left: 0px
						margin-right: 0px

						h4
							margin-bottom: 0px

						p
							margin-top: 0px				
		
		.main-page__eith-block

			section
				margin-left: 10%
				width: 80%

				h2
					font-size: 180%
					margin-top: 0px

				.flex-container
					flex-direction: column	

					.photo-curator
						width: 300px
						height: 300px

					.photo-description
						width: 100%	

						h3
							font-size: 160%	

						p:nth-of-type(1)
							font-size: 80%	

				.flex-container-n
					flex-direction: column
					width: 100%
					position: relative	

					span
						margin: 0 auto
						padding-left: 0%
						padding-top: 50%
						width: 100%
						text-align: center
						
						p:nth-of-type(1)
							font-size: 90%

						p:nth-of-type(2)
							font-size: 110%	
					
					span::before
						width: 120px
						height: 120px
						top: 20px
						left: 90px


		.main-page__ninth-block
			p
				font-size: 90%

			h2
				font-size: 180%					
			
			.flex-container

				.logo
					display: none

				.flex-container-n
					width: 100%
					
					div
						width: 100%
						height: 300px

						h3
							font-size: 100%
							width: 80%

						p:last-of-type
							margin-top: 0%
							font-size: 80%
							width: 100%		


		.main-page__tenth-block
			
			section
				width: 80%
				margin-left: 10%	
				h2
					font-size: 180%		

				.flex-container
					flex-direction: column
					width: 100%

					.left
						width: 100%	

						h3
							font-size: 120%

						p:nth-of-type(1)
							font-size: 100%

						p:nth-of-type(2)
							font-size: 80%

						p:nth-of-type(3)
						
							font-size: 70%	

						button
							margin-top: 20px

					.right
						margin-left: 0%
						width: 100%	

						h3
							font-size: 120%

						p:nth-of-type(1)
							font-size: 100%

						p:nth-of-type(2)
							font-size: 80%

						p:nth-of-type(3)
						
							font-size: 70%	

						button
							margin-top: 20px	

		.main-page__eleventh-block
			height: 100%

			.flex-container
				flex-direction: column
				width: 100%

				div
					width: 100%
					
					h3
						font-size: 130%

					button
						margin-bottom: 20%
		
